
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.container {
  padding-top: 1em;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.4em;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  padding-top: 1em;
}

.deleteIcon {
  margin-left: 1em;
  display: none;
}

.rowItem:hover .deleteIcon {
  display: inline-block;
  cursor: pointer;
}
