.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.container {
  padding-top: 1em;
  width: 400px;
  margin: 0 auto;
  text-align: left;
  font-size: 1.4em;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}
